{% extends "Food/base.html" %}
{% block body%}
<form method="POST"> <!--So this thing right here is nothing but the form tag.
    And as we actually want to post the data to the database, we are using the post method right over here.-->
    {%  csrf_token %}
    <!--This is a token which you actually need to include for security reasons.-->
    {{form}}
    <!--And this form is actually nothing, but it's actually a context which we will pass 
        from a view which we have not created-->
    <button type="submit">Save</button>
    <!--This is simply a button over here, which is the submit button which you have in the form.-->
</form>
{% endblock %}